.header {
  width: 100%;
  padding: space(2) 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: absolute;
  width: 100%;
  top: 0;
}

.location {
  font-size: var(--font-normal);
  text-align: left;
}

.nightModeToggle {
  display: flex;
  gap: space(1);
  align-items: center;

  p {
    font-size: 14px;
    font-weight: 600;
    color: #969696;
  }

  .toggle {
    width: space(4.4);
    height: space(2.2);
    background-color: #ccc;
    border-radius: 999px;
    padding: space(0.5);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    .circle {
      width: calc(#{space(2.2)} - #{space(0.5)});
      height: calc(#{space(2.2)} - #{space(0.5)});
      background-color: white;
      border-radius: 50%;
      transition: transform 0.3s ease;
      transform: translateX(0);
    }

    &.on {
      background-color: #4caf50;

      .circle {
        transform: translateX(#{space(1.8)});
      }
    }
  }
}
