.experience {
  display: flex;
  flex-direction: column;
  gap: space(24);
  margin-bottom: 30vh;
}

.divider {
  width: 30px;
  height: 1px;
  background-color: var(--text);
  opacity: 0.5;
  margin: space(5) auto;
}

.companyTitle {
  font-size: var(--font-title-m);
  margin-bottom: space(3);

}

.position {
  font-size: var(--font-normal);
  font-weight: 600;
}

.subInfo {
  font-size: var(--font-normal);
  color: grey;
  font-style: italic;
  margin-bottom: space(2);
}

.jobSummary {
  display: flex;
  flex-direction: column;
  gap: space(1);

  li {
    font-size: var(--font-normal);
  }
}
